<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="/css/style.css"
</head>
<body>
    <h1>HOME</h1>

    <p>Nome:<%=nome%></p>
    <p>Lang Favorita: <%=lang%></p>
    <p>Pais: <%=pais%></p>
    <p>Estado: <%=estado%></p>
    <p>Ano:  <%=ano%></p>
    <p>Empresa: <%=empresa%></p>
    
    <% if(msg == true){ %>
        <h3>Isso é uma mensagem de erro</h3>
    <%} else {%>
        <h3>Nenhum erro</h3>
    <%}%>

    <% produtos.forEach(function(produto) { %>
        <hr>
       <b><%= produto.nome %></b>
        <%= produto.preco %><br/>
    <% }) %>


    <img src="img/img.png">
</body>
</html>